<section id="fa-donations">
      <div class="donations-container">
        <div class="donations-inner">
          <h1> Donations </h1>
          <h2 style="font-size:26px;margin-top:60px; "> Thanks for all the donations, we are currently maxed, so we don't need any donations anymore </h2>
          <div style="">
            <p> <span class="level-guild">{{data?.name}}</span> </p>
            <h1 style="font-size:20px;padding:5px"> <span class="name-guild"> </span> </h1>
            <img src="https://guilds.gw2w2w.com/guilds/fearless-alliance/256.svg" width="90px" height="90px"> 
            <p> <span class="level-guild"> Level: {{data?.level}}</span> </p>
          </div>
        </div>
      </div>
</section>