<footer id="fa-footer">
      <div id="footer-container">
        <div class="footer-nav">
          <div class="top-nav">
            <div class="guides-nav">
              <h1 class="guides-edit"> Guides </h1>
              <p>
                <a href="http://gw2crafts.net/"> Crafting </a> <br>
                <a href="http://oopsy.enjin.com/forum/m/41271713/viewthread/28848825-law-lulles-advanced-worldcompletion-guide"> World exploration </a> <br>
                <a href="https://wiki.guildwars2.com/wiki/Agony"> Agony </a> <br>
              </p>
            </div>
            <div class="connect-nav">
              <h1 class="connect-edit"> Connect </h1>
              <p>
                <a routerLink="/discord" routerLinkActive="active"> Discord </a>
              </p>
            </div>
          </div>
        </div>
        <div id="creation">
          <h1> Game related materials, logos, and images are copyright © their respective owners </h1>
          <h2> Website created by <span style="color:red;font-weight:bold;"> Failchon.3247 </span> </h2>
        </div>
      </div>
</footer>