<header>
      <div id="logo">
        <h1> {{projectName}} </h1>
      </div>
      <div id="nav">
        <ul>
          <li> 
            <a routerLink="/home" routerLinkActive="active"> Home </a>
          </li>
          <li class="about-us"> 
            <a routerLink="/about" routerLinkActive="active"> About </a>
          </li>
          <li> 
            <a routerLink="/raid" routerLinkActive="active"> Raids </a>
          </li>
          <li> 
            <a routerLink="/contribution" routerLinkActive="active"> Contribution </a>
          </li>
          <li> 
            <a routerLink="/discord" routerLinkActive="active"> Discord </a>
          </li>
        </ul>
      </div>
</header>
<router-outlet></router-outlet>
