<section id="fa-enviroment">
      <div  id="enviroment-container">
          <div class="enviroment-title">
            <h1> Friendly and Helpful Enviroment </h1>
          </div>
          <div class="enviroment-wrapper">
            <div class="enviroment-inner">
              <div *ngFor = "let item of data" class="enviroment-desc">
                <h1> {{item.title}} </h1>
                <p> {{item.description}}</p>
              </div>
            </div>
            <div class="envi-pic">
              <img src="">
            </div>
          </div>
      </div>
</section>