<section id="raids-encounter">
      <div id="encounter-container">
        <h1 class="encounter-title"> Raid encounters </h1>
        <div class="encounter-content">
          <div class="wing1">
            <div class="wing1-content">
              <div *ngFor="let item of wing1" class="wing1">
                <div class="wing1-desc">
                  <h1> {{item.name}} </h1>
                </div>
                <div class="wing1-pic">
                  <a href="{{item.link}}">
                     <img src="faweb/assets/images/raids/{{item.picture}}" width="250px" height="250px">
                  </a>
                </div>
               </div>
             </div>
           </div>
           <div class="wing2">
            <div class="wing2-content">
              <div *ngFor="let item of wing2" class="wing2">
                <div class="wing2-desc">
                  <h1> {{item.name}} </h1>
                </div>
                <div class="wing2-pic">
                  <a href="{{item.link}}">
                     <img src="assets/images/raids/{{item.picture}}" width="250px" height="250px">
                  </a>
                </div>
               </div>
             </div>
            </div>
          <div class="wing3">
            <div class="wing3-content">
              <div *ngFor="let item of wing3" class="wing3">
                <div class="wing3-desc">
                  <h1> {{item.name}} </h1>
                </div>
                <div class="wing3-pic">
                  <a href="{{item.link}}">
                     <img src="assets/images/raids/{{item.picture}}" width="250px" height="250px">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="wing4">
            <div class="wing4-content">
              <div *ngFor="let item of wing4" class="wing4">
                <div class="wing4-desc">
                  <h1> {{item.name}} </h1>
                </div>
                <div class="wing4-pic">
                  <a href="{{item.link}}">
                     <img src="assets/images/raids/{{item.picture}}" width="250px" height="250px">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>