<section id="meet-us">
  <h1 class="meet-us-bar"> Meet us! </h1>
    <ul>
      <li class="founder" *ngFor="let item of data">
      <div class="meetus">
          <div class="pic">
            <img src="../../../../assets/images/about/{{item.picture}}" > 
          </div>
          <div class="description-us">
            <h1> {{item.name}} </h1>
            <h2> {{item.rank}} </h2>
            <p> 
              <strong> IGN: {{item.igname}} </strong> <br> <br>
                  {{item.description}}
            </p>
           </div>
        </div>
      </li>
    </ul>
</section>