<section id="discord-rules">
      <div id="discord-rules-container">
        <h1 class="discord-rules-title"> {{data?.name}} </h1>
        <div class="discord-rules">
          <ul>
            <li *ngFor="let items of firstrules"> {{items.description}} </li>
            <li> {{secondrules?.description}}
              <ul>
                <li *ngFor="let items of secondrulesInner"> {{items.description}} </li>
              </ul>
            </li>
            <li> {{thirdrules?.description}}
              <ul>
                <li *ngFor="let items of thirdrulesInner"> {{items.description}}</li>
              </ul>
            </li>
            <li *ngFor="let items of fourthrules"> {{items.description}} </li>
          </ul>   
        </div>
      </div>
    </section>