<section id="fa-contrib">
      <h1 class="lost-precipice-title"> Lost Precipice </h1>
      <div id="contrib-features">
        <div class="features-help">
          <h1>If you want to help out by donating materials, here are a few things that we need. The donations will help us upgrade the guild hall much faster and have more benefits</h1>
          <div class="feat-don-inner">
            <div class="about-donations">
              <a routerLink="/contribution" fragment="fa-donations"> Donations </a>
            </div>
            <div class="about-features">
              <a routerLink="/contribution" fragment="fa-features"> Features </a>
            </div>
          </div>
        </div>
      </div>
</section>