<section id="fa-raids">
      <div id="raids-container">
        <h1 class="introduction-title"> {{title?.title}} </h1>
        <div class="introduction-content">
          <p class="introduction"> {{title?.description}} </p>
          <div class="dedication">
            <h1 class="dedication-title"> {{data?.title}} </h1>
            <p class="dedication-content">{{data?.description}}  </p>
          </div>
          <div class="ready">
            <h1 class="ready-title"> {{ready?.title}} </h1>
            <ul class="ready-content">
              <li> {{descriptionList?.description}}
                <ul>
                  <li *ngFor="let item of option"> 
                    <a style="text-decoration:none;color:#738bd7;" href="{{item.link}}"> {{item.name}} </a>
                  </li>
                </ul>
              </li>
              <li *ngFor="let item of descriptionList2"> {{item.description}} </li>
              <li> {{descriptionList3?.description}} 
                <ul>
                   <li> 
                    <a style="text-decoration:none;color:#738bd7;" href="{{option2?.link}}"> {{option2?.name}} </a> 
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="involve">
            <h1 class="involve-title"> {{involved?.title}} </h1>
            <p class="involve-content">
              {{involved?.description}}
            </p>
          </div>
          <div class="notes">
            <h1 class="notes-title"> {{notes?.title}} </h1>
            <ul class="notes-content">
              <li *ngFor="let item of notes2"> {{item.description}} </li>
            </ul>
          </div>
        </div>
      </div>
    </section>