<section id="fa-features">
      <div class="features-container">
        <div class="features-tavern">
          <h1> Features </h1>
          <h2> The donations will be used to purchase upgrade for the guild hall. Here are some benefits of a fully upgraded guild hall. </h2>
          <h1 style="font-size:30px;"> Tavern buffs </h1>
          <div class="tavern-buffs">
            <a href="https://wiki.guildwars2.com/wiki/Guild_Crafting_Boost" class="craft-boost"> 
              <img src="{{data?.icon}}">
            </a>
            <a href="https://wiki.guildwars2.com/wiki/Map_Bonus_Boost" class="map-bonus"> 
              <img src="{{map?.icon}}">
            </a>
            <a href="https://wiki.guildwars2.com/wiki/Guild_Gathering_Boost_(consumable)" class="gather-boost"> 
              <img src="{{gather?.icon}}">
            </a>
            <a href="https://wiki.guildwars2.com/wiki/Guild_Karma_Bonus" class="karma-bonus">
              <img src="{{karma?.icon}}">
            </a>
            <a href="https://wiki.guildwars2.com/wiki/Guild_Magic_Find" class="magic-find">   
              <img src="{{magic?.icon}}">
            </a>
            <a href="https://wiki.guildwars2.com/wiki/Guild_XP_Gain" class="xp-gain"> 
              <img src="{{xp?.icon}}">
            </a>
            <a href="https://wiki.guildwars2.com/wiki/Guild_PvP_Reward_Track" class="pvp-bonus"> 
              <img src="{{pvptrack?.icon}}">
            </a>
            <a href="https://wiki.guildwars2.com/wiki/Guild_WXP_Gain" class="wxp-gin"> 
              <img src="{{wxp?.icon}}">
            </a>
            <a href="https://wiki.guildwars2.com/wiki/Guild_WvW_Reward_Track_Boost" class="wvw-boost"> 
              <img src="{{wvwtrack?.icon}}">
            </a>
          </div>
        </div>
        <div class="features-tavern2">
          <div class="features-tavern-left">
            <h1> Great buffs for great people! </h1>
            <p> With the help from everyone in the guild, we managed to get all the buffs that are availble. The buffs will help you in different situations, depending on the buff you choose. It's just a small addition to the buffs that you already have. </p>
          </div>
          <div class="features-tavern-right">
            <img src="assets/images/contribution/tavern.png">
          </div>
        </div>
        <div class="features-nodes">
          <h1 style="font-size:30px;"> Gathering nodes </h1>
          <div class="features-nodes-inner">
            <div class="features-nodes-left">
              <p> The guild hall comes with a couple of gathering nodes. You can gather them for free and once per day. Some extra cash never hurts! </p>
            </div>
            <div class="features-nodes-right">
              <img src="assets/images/contribution/nodes.png">
            </div>
          </div>
        </div>
        <div class="features-more">
          <h1 style="font-size:30px;"> And more! </h1>
          <div class="features-more-inner">
            <div class="features-more-left">
              <p> There is a special area called "market" where you will find a bunch of NPCs waiting for you to purchase all their goods! Goods such as: miniatures, materials, special events goods and more! </p>
            </div>
            <div class="features-more-right">
              <img src="assets/images/contribution/more.png">
            </div>
            <div class="features-more-bottom">
              <p> And much more than this, up to you to find out! </p>
            </div>
          </div>
        </div>
      </div>
    </section>