<section id="fa-setup">
      <div id="setup-container">
        <h1 class="setup-title"> Setup </h1>
        <div class="setup-steps">
          <ul>
              <li *ngFor="let items of data"> {{items.description}}</li>
              <div class="con-pic">
               <img src="assets/images/discord/connect.png" width="100%" height="300px">
              </div>
            <li> {{secondSetup?.description}}
              <ul>
                <li *ngFor = "let items of secondSetupInner"> {{items.description}} </li>
              </ul>
            </li>
            <li> {{secondSetup?.descriptionSecond}} </li>
          </ul>
        </div>
      </div>
</section>